body,
html {
  height: 100vh;
  margin: 0;
  text-align: center;
}

header {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("travel.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.container {
  height: 540px;
}

/*desktop-size*/
.row {
  margin: 21% auto;
  width: 100%;
  display: flex;
}

.left-window {
  width: 50%;
  background-color: transparent;
  font-family: "Indie Flower", cursive;
  font-size: 70px;
  margin: 1% 13% 0% 0%;
}

.right-window {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 11% 0% 0% 0%;
}

input {
  display: block;
  width: 80%;
  height: 45px;
  margin: 30px auto;
  background-color: whitesmoke;
  border-style: none none none;
  border-radius: 8px;
}

input:hover {
  background-color: snow;
}

::placeholder {
  color: black;
  font-size: 1.3rem;
  text-align: center;
}

.btn {
  display: block;
  margin: 25px auto 10px;
  width: 50%;
  background-color: orange;
  color: white;
  padding: 15px 15px;
  font-size: 20px;
  text-align: center;
  border-style: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(255, 186, 107);
  color: black;
}

@media (max-width: 768px) {
  .left-window {
    width: 100%;
    background-color: transparent;
    font-family: "Indie Flower", cursive;
    font-size: 70px;
    margin: 1% 13% 0% 0%;
  }

  .right-window {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 11% 0% 0% 0%;
  }
}
